<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button >
    </ion-buttons>
    <ion-title style="margin-left: 1%;">Ajouter formation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" style="background-color: #F4F5F8">

  <div class="containeur">

    <div class="formulaire" >

      <div class="input">
        <input class="telephone-input" type="text" class="form-control" placeholder="Thème formation" [(ngModel)]="titre" name="titre">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control"  placeholder="Description" [(ngModel)]="description" name="description">
      </div>


      <div class="input">
        <input class="telephone-input" type="text" class="form-control" placeholder="Contact" [(ngModel)]="contact" name="contact">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control" placeholder="Lieu" [(ngModel)]="lieu" name="lieu">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control" placeholder="Heure" [(ngModel)]="heure" name="heure">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control" placeholder="Date debut" [(ngModel)]="datedebut" name="datedebut">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control" placeholder="Date fin" [(ngModel)]="datefin" name="datefin">
      </div>

      <!-- <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control" placeholder="Email formateur" [(ngModel)]="emailformateur" name="emailformateur">
      </div> -->

      <form style="margin-top: 3%;  padding-right: 20px;"> -->
        <select style="width:150px; margin-left: -16%; height: 25px; margin-top: 3px; margin-bottom: 20px;" [(ngModel)]="nomformateur" [ngModelOptions]="{standalone: true}">
          <option value="Sexe">Formateur</option>
          <option value="{{affiche.username}}"  *ngFor="let affiche of formateurs" >{{affiche.username}}</option>
          <!-- <option value="0">Homme</option> -->
        </select>
      </form>

    <!-- <form action=""  style="margin-left: 30%; margin-top: 3%; ">
      <input type="file" name="image" (change)="recuperImage()"><br><br>
    </form> -->

      <div class="conteneur-submit">
        <ion-button class="envoyer-input" type="submit" expand="block" id="open-custom-dialog" >CREER FORMATION</ion-button>
      </div>

    </div>
  </div>

  
<!-- Popup:::::::::::::::::::::::::::::::: -->
  <!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1>Dialog header</h1>

        <ion-list lines="none">
          <ion-button style="color: teal;" (click)="Ajoutformation()">Créer</ion-button>
          <!-- <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Item 1</ion-label>
          </ion-item> -->
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>
