<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button >
    </ion-buttons>
    <ion-title style="margin-left: 1%;">Ajouter formation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color: #F4F5F8">

  <div class="containeur">

    <div class="formulaire">
      <div class="input">
        <input class="telephone-input" type="text" class="form-control" placeholder="Thème formation">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Description">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Nom formateur">
      </div>

      <div class="input">
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Contact">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Lieu">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Heure">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Date debut">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Date fin">
      </div>

      <div class="input" style="margin-top: 3%;">
        <input class="telephone-input" type="email" class="form-control"  id="password" data-toggle="djiguibabarema@gmail.com" placeholder="Email formateur">
      </div>
<!-- 
      <form>
        <select style="width:150px; margin-left: -22%; height: 25px; margin-top: 3%;">
          <option value="Sexe">Genre</option>
          <option value="femme">Femme</option>
          <option value="homme">Homme</option>
        </select>
      </form> -->

    <form action=""  style="margin-left: 30%; margin-top: 3%; ">
      <input type="file" name="photo"><br><br>
    </form>

      <div class="conteneur-submit">
        <ion-button class="envoyer-input" type="submit" expand="block" routerLink="/tabs/tab1">CREER FORMATION</ion-button>
      </div>

    </div>
  </div>

</ion-content>
