<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button >
    </ion-buttons>
    <ion-title style="margin-left: 1%;">Participation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="containeur">

    <div class="formulaire">
      <div class="input" style=" padding-right: 20px;">
        <!-- <label>Nom<span class="obligatoire">*</span></label> -->
        <input class="telephone-input" type="text" class="form-control" placeholder="Votre nom">
      </div>

      <div class="input" style="margin-top: 5%; padding-right: 20px;">
        <!-- <label>Prenom <span class="obligatoire">*</span></label> -->
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Votre prenom">
      </div>

      <div class="input" style="margin-top: 5%;  padding-right: 20px;">
        <!-- <label>Profession <span class="obligatoire">*</span></label> -->
        <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Développeur">
      </div>


      <div class="input" style="margin-top: 5%;  padding-right: 20px;">
        <!-- <label>Email <span class="obligatoire">*</span></label> -->
        <input class="telephone-input" type="email" class="form-control"  id="password" data-toggle="djiguibabarema@gmail.com" placeholder="Votre email">
      </div>

      <form style="margin-top: 3%;  padding-right: 20px;">
        <select style="width:150px; margin-left: -22%; height: 25px; margin-top: 10px;">
          <option value="Sexe">Genre</option>
          <option value="femme">Femme</option>
          <option value="homme">Homme</option>
        </select>
      </form>

      <div class="conteneur-submit">
        <ion-button class="envoyer-input" type="submit" expand="block" id="open-popover" >PARTICIPER</ion-button>
      </div>

    </div>
  </div>
<!-- Popup -->
<ion-popover [keepContentsMounted]="true" trigger="open-popover">
  <ng-template >
    <div class="textpop">Voulez-vous participez ?</div>
    <div class="toutpop" style="display: flex; justify-content: space-between; margin-left: 3%; margin-right: 3%;">
      <div class="gauchepop" routerLink="/tabs"> Annuler</div>
      <div class="droitepop"> Envoyer</div>
    </div>
  </ng-template>
</ion-popover>



</ion-content>
