
//
  #toutbod{
    margin-top: 7%;
    margin-bottom: 3%;
  }

  .toutbutton{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  button{
    text-align: center;
    background-color: teal;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 5px;
  }
  .droite button{
    background-color: red;
  }
  
  
  @media (max-width:600px) {

    // A //Pour retirer la scrollbar
// ion-content {
//     width: calc(100% + 22px);
//   }

    .tabbody{
      margin-top: 3px;
    }
    
  }

body{
	margin:0;
	padding:5px;
    padding-bottom: 30%;
	font-family: sans-serif;
    overflow-y: scroll;
}
  // Enlever la bar scroll
  body::-webkit-scrollbar{
    width: 0;
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/


@media(max-width: 500px){

    // Enlever la bar scroll
    body::-webkit-scrollbar{
        width: 0;
    }

    .table{
        margin-top: 1%;
        
    }
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}







