<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button >
    </ion-buttons>
    <ion-title style="margin-left: 1%;">Détail formateur</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- Entête -->
  <!-- <div class="fixe">
    <i routerLink="/dashboard" id="icon" class="fa-solid fa-arrow-left" style="font-size:25px; margin-top: 35px; margin-left: 15px;"></i>
   <button class="valid">Formateur</button>
  </div> -->

  <body>
    <div class="tabbody">

      <div class="imgprofil" >
        <img src="assets/images/djiguiba.jpg" style="border-radius: 20px;" alt="">

        <div class="toutbutton">
          <div class="gauche" routerLink="/modiformateur"><button>Modifier</button></div>
          <div class="droite"> <!-- <button>Supprimer</button> --> </div>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
           <th>Pseudo</th>
           <th>Name</th>
           <th>aaa</th>
           <th>Marks%</th>
           <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Pseudo">{{voiridutilisat.username}}</td>
                <td data-label="Nom">{{voiridutilisat.nomcomplet}}</td>
                <td data-label="Profession">{{voiridutilisat.profession}}</td>
                <td data-label="Email">{{voiridutilisat.email}}</td>
                <td data-label="Sexe">{{voiridutilisat.sexe}}</td>
            </tr>
           
        </tbody>
      </table>
   
    </div>
 </body>

</ion-content>

