<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->

      <div class="entete">


        <div class=" gauche">
          <img src="assets/images/logo.png" alt="" style="height: 45px;">
        </div>

        <div class="milieunom" style="margin-top: 13px; font-weight: bold; font-size: 20px;">Doniso</div>
        <div class="droite" id="open-custom-dialog">
           <img src="/assets/images/djiguiba.jpg" alt="" style="height: 45px; cursor: pointer;">
          </div>
      </div>
  </ion-toolbar>
  
</ion-header>

<ion-content class="card-background-page">

  <ion-card  >
    <img src="assets/images/connexion.jpg" />
    <div class="card-title">Démander formation</div>
    <div class="card-subtitle" routerLink="/demandaudit"><button>Soumettre</button></div>
  </ion-card>

  <!-- :::::::::::: -->
  

  <div padding style="background-color: teal; ">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        Demandes
      </ion-segment-button>
      <ion-segment-button value="kittens">
        Participation
      </ion-segment-button>
    </ion-segment> 
  </div>
  
  <div [ngSwitch]="pet">

    <ion-list *ngSwitchCase="'puppies'">
      <ion-card *ngFor="let demande of voirformatUser |paginate: { itemsPerPage:10, currentPage: p}">
        <ion-card-header>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
          <ion-card-subtitle>{{demande.structure}}</ion-card-subtitle>
        </ion-card-header>
      
        <!-- <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content> -->
      
        <ion-button fill="clear" style="color: black;">Status :</ion-button>
        <ion-button fill="clear" style="color: teal;">{{demande.AuditDemand}}</ion-button>
      </ion-card>
      <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
      
    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
      <ion-card >
        <ion-item>
          Tapdfghjklddddddddddddddddd times gauche
        </ion-item>
      </ion-card>
      <ion-card >
        <ion-item>
          Tapdfghjklddddddddddddddddd times
        </ion-item>
      </ion-card>
    </ion-list>
  
  </div>


    
<!-- Popup:::::::::::::::::::::::::::::::: -->

<div class="toutpop">
  <!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog" >
    <ng-template>
      <div class="wrapper">
        <!-- <h5>Dialog header</h5> -->

        <ion-list lines="none">
          <ion-item button="true" detail="false" routerLink="/profilauditeur" (click)="modal.dismiss()" >
            <ion-label >Profil</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Suivis</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label ><button style="background-color: red; width: 100%; height: 25px; border-radius: 5px;">Déconnexion</button></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</div>

   
</ion-content>
