<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->

      <div class="entete">


        <div class=" gauche">
          <img src="assets/images/logo.png" alt="" style="height: 45px;">
        </div>

        <div class="milieunom" style="margin-top: 13px; font-weight: bold; font-size: 20px;">Doniso</div>
        <!-- <div class="droite">
           <img src="/assets/images/djiguiba.jpg" alt="" style="height: 45px;">
          </div> -->
      </div>
  </ion-toolbar>
  
</ion-header>

<ion-content class="card-background-page">

  <ion-card >
    <img src="assets/images/connexion.jpg"/>
    <div class="card-title">Démander formation</div>
    <div class="card-subtitle"><button>Soumettre</button></div>
  </ion-card>

  <!-- :::::::::::: -->
  
<ion-header >

  <ion-toolbar no-border-top >
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        A venir
      </ion-segment-button>
      <ion-segment-button value="kittens">
        Terminer
      </ion-segment-button>
      <ion-segment-button value="ducklings" style="margin-right: 10px;">
        Contact
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
      
      
    </ion-list>

    <!-- 2222222222222 -->
    <ion-list *ngSwitchCase="'kittens'">
     
      <ion-card style=" width:98%;">
        <img src="assets/images/perfect2.png" style="height: 200px;">
      
        <ion-card-content>
          <h2 style="font-size: 20px;">Devéloppement personnel</h2>
        </ion-card-content>

        <div class="touterminer">

          <div class="gaucheterminer"><ion-icon name="eye-outline"></ion-icon></div>
        <div class="droiteterminer"><ion-icon name="chatbox-ellipses-outline"></ion-icon></div>
        </div>
      
      </ion-card>
      
    </ion-list>

    <!-- 3333333333 -->
    <ion-list *ngSwitchCase="'ducklings'">

      <ion-card style="width: 99%; background-color: teal; ">
        <ion-card-header>   
          <ion-card-title><ion-icon name="home-outline" style="color: white; font-size: 45px;"></ion-icon></ion-card-title>
          <ion-card-subtitle style="color: black; font-size: 20px;">Hamdallaye ACI</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card style="width: 99%; background-color: teal; ">
        <ion-card-header>
          <ion-card-title><ion-icon name="call-outline" style="color: white; font-size: 45px;"></ion-icon></ion-card-title>
          <ion-card-subtitle style="color: black; font-size: 20px;">+223 73100973</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      
      <ion-card style="width: 99%; background-color: teal; ">
        <ion-card-header>  
          <ion-card-title><ion-icon name="mail-open-outline" style="color: white; font-size: 45px;"></ion-icon></ion-card-title>
          <ion-card-subtitle style="color: black; font-size: 20px;">djiguibabarema@gmail.com</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card style="width: 99%; background-color: teal; ">
        <ion-card-header>   
          <ion-card-title><ion-icon name="logo-github" style="color: white; font-size: 45px;"></ion-icon></ion-card-title>
          <ion-card-subtitle style="color: black; font-size: 20px;">https://github.com/Djiguiba01</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    
    </ion-list>
  </div>


    
   
</ion-content>
