
// Entête::::::::::::
.entete{
  display: flex;
  justify-content: space-between;
}
.gauche img{
  height: 45px;
}
.milieunom{
  margin-top: 13px;
  font-weight: bold;
  font-size: 20px;
}
.droite img{
  height: 45px;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
// //La barre en haut
ion-toolbar{
  --background: teal;
  color: #fff;
  padding: 0;
}
//Pour retirer la scrollbar
ion-content {
  width: calc(100% + 16px);
}
// Button:::::::::::after
.buttonCont{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.gauchebutton, .droitebutton{
  background-color: teal;
  color: #fff;
  text-align: center;
  width: 75px;
  height: 40px;
  border-radius: 5px;
  padding-top: 6px;
  font-weight: bold;
}

// ::::::::after
.toutdemand{
  margin-top: 5px;
  display: flex;
  // justify-content: space-between;
}
.image{
  width: 35%;
}
.detail{
  margin-top: 10px;
}
.detail p{
  margin-left: 10px;
  color: white;
  font-size: 13px;
  line-height: 1em;
}

  .card-title {
    position: absolute;
    top: 10%;
    font-size: 1.7em;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;
  }

  .card-subtitle {
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  button{
    background-color: teal;
    color: #fff;
    width: 53%;
    height: 45px;
    border-radius: 5px;
  }
//}


// Contact:::::::::::::::::after
