<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <ion-toolbar>
     <!-- <ion-title></ion-title> -->
     <div class="entete">

      <!--Entête Gauche -->
      <div class=" gauche" >
        <img src="assets/images/logo.png" alt="" >
      </div>

      <!--Entête Milieu -->
      <div class="milieunom">Doniso</div>

      <!--Entête Droite -->
      <div class="droite" id="popover-button">
      <img src="assets/images/djiguiba.jpg" alt="">

    </div>

    </div>

  </ion-toolbar>

</ion-header>

<ion-content class="card-background-page">

<!-- :::::::::::::::::: -->
<!-- <ion-button id="popover-button"   color="danger">Open Menu</ion-button> -->
<ion-popover trigger="popover-button" [dismissOnSelect]="true" color="danger">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" routerLink="/profilauditeur">Mon profil</ion-item>
        <ion-item [button]="true" [detail]="false" *ngIf="role=='ROLE_FORMATEUR'" routerLink="/formationformateur">Mes cours</ion-item>
        <ion-item [button]="true" [detail]="false">Déconnexion</ion-item>
        <!-- <ion-item [button]="true" >More options...</ion-item> -->
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

  <!-- ::::::::: -->

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/cours.jpg" alt="Card image cap">
    <a href="#" routerLink="/demandaudit" class="btn ">Soumettre</a>
    <div class="card-body" style="margin-top: -8%;">
      <h5 class="card-title" style="text-align: center; font-weight: bold; ">Démander une formation</h5>
      <p class="card-text" style="font-size: 12px;">
        Vous êtes une entreprise, un groupe de personne et vous voulez avoir une formation de qualité,
        nous avons des meilleur formateur à votre disposition .
      </p>
    </div>
  </div>

  <!-- <button color="danger" routerLink="/demandaudit"style="">Soumettre</button> -->

  <!-- :::::::::::: -->


  <div padding style="background-color: teal; ">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        Demandes
      </ion-segment-button>
      <ion-segment-button value="kittens">
        Être formateur
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">

    <ion-list *ngSwitchCase="'puppies'" >
      <ion-card *ngFor="let demande of voirformatUser |paginate: { itemsPerPage:10, currentPage: p}" style="background-color: teal;">
        <ion-card-header>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
          <ion-card-subtitle style="color: white;">{{demande.type}}</ion-card-subtitle>
          <div class="toutdemand">
            <div class="image">
              <img src="/assets/images/{{demande.photo}}" alt="" style="height: 100px; width: 100%; border-radius: 10px;">
            </div>
            <div class="detail">
              <p>{{demande.structure}}</p>
              <p>{{demande.lieu}}</p>
              <p>{{demande.personnes}}</p>
             </div>
           </div>
           <ion-button fill="clear" style="color: black;  font-size: 15px; margin-left: -6%;">Status : </ion-button>
           <ion-button fill="clear" style="color: white; font-size: 10px; margin-left: -6%;">{{demande.auditstatus}}</ion-button>

        </ion-card-header>
      </ion-card>
      <!-- <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls> -->

    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
     <!-- ::::::::::::::: -->
     <div class="containeur">
      <h5 style="text-align: center; font-size: 18px; margin-bottom: 10%;"> Voullez-vous être un formateur chez nous ?</h5>

      <div class="formulaire">

        <div class="input"style=" padding-right: 20px;" >
          <input class="telephone-input" type="email" class="form-control"  id="password" data-toggle="djiguibabarema@gmail.com" placeholder="Votre email"  [(ngModel)]="email" name="email">
        </div>

        <!-- (change)="fileChangm($event)" -->

        <form action=""  style="margin-left: 48%; margin-top: 3%; ">
          <div class="sss" style="margin-bottom: 3px;">
            <label for="">Votre Cv</label>
          </div>
        <input type="file" name="image" (change)="fileChangm($event)"><br><br>
        </form>

        <!-- <div class="input" style="margin-top: 5%;  padding-right: 20px;">
          <input class="telephone-input" type="text" class="form-control" placeholder="Votre quartier" name="nom" >
        </div> -->

        <!-- <div class="input" style="margin-top: 5%; padding-right: 20px;">
          <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Votre prenom" >
        </div> -->

        <!-- <div class="input" style="margin-top: 5%;  padding-right: 20px;">
          <input class="telephone-input" type="text" class="form-control"  id="password" data-toggle="password" placeholder="Profession" >
        </div> -->

        <!-- <form style="margin-top: 3%;  padding-right: 20px;">
          <select style="width:150px; margin-left: -22%; height: 25px; margin-top: 10px;">
            <option value="Sexe">Genre</option>
            <option value="1">Femme</option>
            <option value="0">Homme</option>
          </select>
        </form> -->

        <div class="conteneur-submit">
          <ion-button class="envoyer-input" type="submit" expand="block" (click)="Ajoutpart()" >ENVOYER</ion-button>
        </div>

      </div>
    </div>

    </ion-list>

  </div>



<!-- Popup:::::::::::::::::::::::::::::::: -->

<div class="toutpop">
  <!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog" >
    <ng-template>
      <div class="wrapper">
        <!-- <h5>Dialog header</h5> -->

        <ion-list lines="none">
          <ion-item button="true" detail="false" routerLink="/profilauditeur" (click)="modal.dismiss()" >
            <ion-label >Profil</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Suivis</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label ><button style="background-color: red; width: 100%; height: 25px; border-radius: 5px;">Déconnexion</button></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</div>

</ion-content>
