<ion-header>
  <ion-toolbar>
     <!-- <ion-title></ion-title> -->
     <div class="entete">

      <!--Entête Gauche -->
      <div class=" gauche" >
        <img src="assets/images/logo.png" alt="" >
      </div>

      <!--Entête Milieu -->
      <div class="milieunom">Doniso</div>

      <!--Entête Droite -->
      <div class="droite" id="popover-button" >
      <img src="assets/images/djiguiba.jpg" alt="">
      <ion-buttons slot="danger">
        <ion-popover trigger="popover-button" [dismissOnSelect]="true" class="popUps">
          <ng-template class="popUp">
              <!-- <ion-list > -->
                <ion-item routerLink ="/monprofil">Mon profil</ion-item>
              <!-- </ion-list> -->
              <!-- <ion-list > -->
                <ion-item routerLink ="/monprofil">Mon profil</ion-item>
              <!-- </ion-list> -->
              <ion-list >
                <ion-item routerLink ="/monprofil">Déconnexion</ion-item>
              </ion-list>
          </ng-template>
        </ion-popover>
      </ion-buttons>
    </div>

    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h6 style="text-align: center; font-weight: bold; font-size: 20px;color: teal;">Formation à venir </h6>
  <!-- <ion-slides [options]="options">
    <ion-slide >
        <ion-card *ngFor="let venir of formationvenir">
          <img src="../../assets/images/Back-end/{{venir.image}}" alt="" srcset="">
                  <p style="color: teal;">{{venir.titre}}</p>
        </ion-card>
    </ion-slide>
  </ion-slides> -->

  <ion-slides [options]="option" class="ion-margin-top">

    <ion-slide *ngFor="let venir of formationvenir">
      <ion-card >
        <img src="../../assets/images/{{venir.image}}">
        <h6>{{venir.titre}}</h6>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <!-- Formations -->
  <h6 style="text-align: center; font-weight: bold; font-size: 20px;color: teal; margin-bottom: 7%;">Nos formations en cours</h6>
  <ion-card *ngFor="let encours of formationencours |paginate: { itemsPerPage:10, currentPage: p}">
    <img alt="Silhouette of mountains" src="../../assets/images/{{encours.image}}"/>
    <ion-card-header>
      <ion-card-title style="text-align: center; font-size: 13px;">{{encours.titre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="font-size: 11px;">
      {{encours.description}}
    </ion-card-content>

    <!-- Button -->
    <div class="buttonCont" >
      <div class="gauchebutton" routerLink="/detailformat" style="cursor: pointer;" [routerLink]="['detailformat',encours.idFormat]">Voir Plus</div>
      <div class="droitebutton"  routerLink="/participant" style="cursor: pointer;" [routerLink]="['participant',encours.idFormat]">Participer</div>
    </div>
  </ion-card>
  <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls>
  <hr>

<!-- Popup:::::::::::::::::::::::::::::::: -->

<div class="toutpop">
  <!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog" >
    <!-- <ng-template>
      <div class="wrapper">
        <h5>Dialog header</h5>

        <ion-list lines="none">
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Profil</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Suivis</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" routerLink="/connexion" >
            <ion-label ><button style="background-color: red; width: 100%; height: 25px; border-radius: 5px;">Déconnexion</button></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template> -->
  </ion-modal>
</div>



</ion-content>
