<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->
      <div class="entete">

        <!--Entête Gauche -->
        <div class=" gauche" >
          <img src="assets/images/logo.png" alt="" style="height: 45px;">
        </div>

        <!--Entête Milieu -->
        <div class="milieunom" style="margin-top: 13px; font-weight: bold; font-size: 20px;">Doniso</div>

        <!--Entête Droite -->
        <div class="droite" id="open-custom-dialog">
        <img src="assets/images/djiguiba.jpg" alt="" style="height: 45px;">
      </div>

      </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h6 style="text-align: center; font-weight: bold; font-size: 20px;color: teal;">Formation à venir </h6>
  <ion-slides [options]="options">
    <ion-slide >
        <ion-card *ngFor="let venir of formationvenir">
          <img src="../../assets/images/Back-end/{{venir.image}}" alt="" srcset="">
                  <p style="color: teal;">{{venir.description}}</p>
        </ion-card>
    </ion-slide>
  </ion-slides>


  <!-- Formations -->
  <h6 style="text-align: center; font-weight: bold; font-size: 20px;color: teal; margin-bottom: 7%;">Nos formations en cours</h6>
  <ion-card *ngFor="let encours of formationencours">
    <img alt="Silhouette of mountains" src="../../assets/images/Back-end/{{encours.image}}"/>
    <ion-card-header>
      <ion-card-title style="text-align: center;">{{encours.titre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{encours.description}} 
    </ion-card-content>

    <!-- Button -->
    <div class="buttonCont">
      <div class="gauchebutton" routerLink="/detailformat" style="cursor: pointer;" [routerLink]="['detailformat',encours.idFormat]">Voir Plus</div>
      <div class="droitebutton"  routerLink="/participant" style="cursor: pointer;">Participer</div>
    </div>
  </ion-card>
  <hr>

<!-- Popup:::::::::::::::::::::::::::::::: -->

<div class="toutpop">
  <!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog" >
    <ng-template>
      <div class="wrapper">
        <!-- <h5>Dialog header</h5> -->

        <ion-list lines="none">
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Profil</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Suivis</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label ><button style="background-color: red; width: 100%; height: 25px; border-radius: 5px;">Déconnexion</button></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</div>



</ion-content>
