<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->

      <div class="entete">

        <div class=" gauche">
          <img src="assets/images/logo.png" alt="" style="height: 45px;">
        </div>
        <div class="milieunom" style="margin-top: 13px; font-weight: bold; font-size: 20px;">Doniso</div>
        <div class="droite">
           <img src="/assets/images/djiguiba.jpg" alt="" style="height: 45px;">
          </div>

      </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Image slide -->
    <button id="demandformat">Démander formation</button>

<!-- <div class="demandformat">
  <div class="venir1"></div>
  <div class="venir2">
    <button>Démander formation</button>
  </div>
</div> -->

  <h6 style="text-align: center; font-weight: bold;">Formation à venir </h6>
  <ion-slides [options]="options">
    <ion-slide>
        <ion-card >
          <img src="../../../assets/images/perfect2.png" alt="" srcset="">
                  <p>Titre Cours avenir </p>
        </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/images/perfect.png" alt="" srcset="">
        <p> Titre Cours avenir</p>
      </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="../../../assets/images/perfect1.png" alt="" srcset="">
      <p> Titre Cours avenir</p>
         </ion-card>
</ion-slide>
  </ion-slides>


  <!-- Formations -->
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/images/cours.jpg" />
    <ion-card-header>
      <ion-card-title style="text-align: center;">Comment se comporter dans une entreprise</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <!-- Button -->
    <div class="buttonCont">
      <div class="gauchebutton" routerLink="/detailformat" style="cursor: pointer;">Voir Plus</div>
      <div class="droitebutton"  routerLink="/participant" style="cursor: pointer;">Participer</div>
    </div>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/images/cours.jpg" />
    <ion-card-header>
      <ion-card-title style="text-align: center;">Comment se comporter dans une entreprise</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <!-- Button -->
    <div class="buttonCont">
      <div class="gauchebutton" routerLink="/detailformat" style="cursor: pointer;">Voir Plus</div>
      <div class="droitebutton" routerLink="/participant">Participer</div>
    </div>
  </ion-card>

</ion-content>
