<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->

      <div class="entete">

        <div class=" gauche">
          <img src="assets/images/logo.png" alt="" style="height: 45px;">
        </div>
        <div class="milieunom" style="margin-top: 13px; font-weight: bold; font-size: 20px;">Doniso</div>
        <div class="droite" id="open-custom-dialog">
           <img src="/assets/images/djiguiba.jpg" alt="" style="height: 45px; cursor: pointer;" >
          </div>

      </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- Entête -->

  <!-- <div class="fixe">
    <i routerLink="/accueil" id="icon" class="fa-solid fa-arrow-left" style="font-size:25px; margin-top: 35px; margin-left: 15px;"></i>
   <button class="valid">Notifications</button>
  </div> -->



<section id="toutbod" style="margin-top: -8%;">
  <!-- *ngFor="let item of notif |paginate: { itemsPerPage:10, currentPage: p}" -->
  <div class="container mt-5" id="dbody" style="margin-bottom: -45px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
          <button type="button" class="close font__size-18" data-dismiss="alert">
                  <span aria-hidden="true"><a>
                    <i class="fa fa-times greencross"></i>
                    </a></span>
                  <span class="sr-only">Close</span>
                </button>
          <!-- <i class="start-icon far fa-check-circle faa-tada animated"></i> -->
          <strong class="font__weight-semibold" style="font-size: 20px;">Titre</strong>
          <p>DescriptionDescriptionDescriptionDescription</p>
          <button routerLink="/detailformat" style="background-color: teal; width: 80px; height: 30px; border-radius: 3px; color: white;">Consulter</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls> -->


<!-- Popup:::::::::::::::::::::::::::::::: -->

<div class="toutpop">
  <!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
  <ion-modal id="example-modal" #modal trigger="open-custom-dialog" >
    <ng-template>
      <div class="wrapper">
        <!-- <h5>Dialog header</h5> -->
        <ion-list lines="none">
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Profil</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label>Suivis</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()" >
            <ion-label ><button style="background-color: red; width: 100%; height: 25px; border-radius: 5px;">Déconnexion</button></ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
</div>



</section>




</ion-content>
