<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title></ion-title> -->

      <div class="entete">

        <div class=" gauche">
          <img src="assets/images/logo.png" alt="" style="height: 45px;">
        </div>
        <div class="milieunom" style="margin-top: 13px; font-weight: bold; font-size: 20px;">Doniso</div>
        <div class="droite">
           <img src="/assets/images/djiguiba.jpg" alt="" style="height: 45px;">
          </div>

      </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


</ion-content>
