<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button >
    </ion-buttons>
    <ion-title style="margin-left: 1%;">Profil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <body>
    
 <div id="toutbod"> 
 <section style="background-color: #eee;">
   <div class="container py-5">
 
     <div class="row">
       <div class="col-lg-4">
         <div class="card mb-4">
           <div class="card-body text-center">
             <img src="/assets/images/djiguiba.jpg" alt="photo"
               class="rounded-circle img-fluid" style="width: 150px;">
             <h5 class="my-3">{{voiridutilisat.username}}</h5>
             <p class="text-muted mb-1">{{voiridutilisat.profession}}</p>
             <!-- <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
             <div class="d-flex justify-content-center mb-2">
               <!-- <button type="button" class="btn btn-primary">Follow</button> -->
               <button type="button" id="edit" class="btn btn-outline-primary ms-1"  routerLink="/modifauditeur">Modifier Profil</button>
             </div>
           </div>
         </div>

        
       </div>
       <div class="col-lg-8">
         <div class="card mb-4">
           <div class="card-body">
             <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Nom Complet</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0">{{voiridutilisat.nomcomplet}}</p>
               </div>
             </div>
             <hr>
             <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Email</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0">{{voiridutilisat.email}}</p>
               </div>
             </div>
             <hr>
             <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Profession</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0">{{voiridutilisat.profession}}</p>
               </div>
             </div>
             <hr>
             <!-- <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Contact</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0">+223 73100973</p>
               </div>
             </div> 
             <hr> -->
             <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Sexe</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0">{{voiridutilisat.sexe}}</p>
               </div>
             </div>
             
            <!-- <hr>
              <div class="row">
               <div class="col-sm-3">
                 <p class="mb-0">Address</p>
               </div>
               <div class="col-sm-9">
                 <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
               </div>
             </div> -->
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>

</body>

</ion-content>
