// Entête
ion-toolbar{
  --background: teal;
  color: #fff;
  padding: 0;
}


  #edit{
    background-color: teal;
    color: white;
    // border: 1px solid teal !important;
  }
  #edit:hover{
    background-color: rgb(5, 5, 49);

  }
    // Enlever la bar scroll
    body{
        overflow: scroll;
    }
    body::-webkit-scrollbar{
        width: 0;
    }
  @media (max-width:600px) {

    #toutbod{
      margin-top: -12%;
      margin-bottom: 5%;
    }
    
  }
  