<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
 <!-- <body> -->

   <!--bbbbbbbbbbbbbbbbbbbbbbbbbbbbb  -->
<input type="checkbox" name="" id="menu">

   <!-- SideBar -->
   <div class="sidebar">
       <div >
           <h2><span class="fa-sharp fa-solid fa-bars"> </span> Doniso</h2>
       </div>

       <div class="sidebar-menu">
           <ul>
               <li><a routerLink="/accueil" class="active"><span id="iconmenu" id="iconicon" class="fa fa-home"></span><span>Accueil</span></a></li>
               <li><a href="#"><span id="iconicon" class="fa fa-tasks"></span><span routerLink="/ajoutformation">Créer formation</span></a></li>
               <li><a href="#"><span id="iconicon" class="fa fa-tasks"></span><span id="modimenu" routerLink="/modiformation">Modifier formation</span></a></li>
               <li><a href="#"><span id="iconicon" class="fa fa-th-large"></span><span routerLink="/modiformateur">Modifier formateur</span></a></li>
               <li><a href="#"><span id="iconicon" class="fa fa-line-chart"></span><span routerLink="/modifauditeur">Modifier auditeur</span></a></li>
           </ul>
       </div>
   </div>

   <!-- Entête -->
<div class="content"> 
<header>
 <p><label for="menu"><span  class="fa-solid fa-bars"></span></label><span class="accueil" routerLink="/tab1">Accueil</span></p>

 <div class="search-wrapp"> 
   <span class="fa fa-search"></span>
   <input type="search" name="" placeholder="recherche">
 </div>

 <div id="dropdown" class="user-wrapp">
   <div>
     <h4>Djiguiba</h4>
     <small>Admin</small>
   </div>
   <!-- <img decoding="async" src="images/pp.jpg" width="30" height="30" class="logo-admin"> -->
   <div class="dropdown-content">
     <p>Profil</p>
     <p>Deconnexion</p>
   </div>
 </div>
</header>

<!-- Statistique -->
<main>
   <div class="cards">
        <div class="card-single">
            <div> 
                <h2>2.000.000</h2>
                <small>Formateurs </small>
            </div>
            <div>
                <span class="fa-solid fa-graduation-cap"></span>
            </div>
        </div>

        <div class="card-single">
            <div>
                <h2>30</h2>
                <small>Utilisateurs</small>
            </div>
            <div>  
                <span class="fa-solid fa-people-roof"></span>
            </div>
        </div>


        <div class="card-single">
            <div>
                <h2>58</h2>
                <small>Formation réalisé</small>
            </div>
            <div> 
                <span class="fa-solid fa-check"></span>
            </div>
        </div>

        <div class="card-single">
            <div>
            <h2>20k</h2>
            <small>Formationtion en cours</small>
            </div>
            <div> 
            <span class="fa-solid fa-spinner"></span>
        </div>

    </div>
   </div>

   <!-- Liste des profs et les activités -->

   <div class="composant">

    <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
    <div class="stock">
        <div class="case">
            <div class="header-case">
                <h2>Les Formateurs</h2>
            </div>
            <button class="btn" routerLink="/ajoutformateur">Ajouter <span class="fa fa-arrow-right"></span></button>

            <!-- *ngFor="let game of games | paginate:{itemsPerPage:1, currentPage:p}" -->
            <div class="body-case" >
                <div class="all-users" style="cursor: pointer;">
                    <div class="infos" routerLink="/detailformateur">
                        <img decoding="async" src="images/pp.jpg" width="30" height="30">
                        <div>
                            <h4>Omar</h4>
                            <small>Embulant</small>
                        </div>
                    </div>

                    <div class="user-contact">
                        <span id="iconupdate" routerLink="/modiformateur" class="fa-solid fa-pen-to-square"></span>
                        <!-- <span class="fa fa-whatsapp"></span> -->
                        <span id="icondelete" class="fa-solid fa-trash"></span>
                    </div>
                </div>
            </div>

            <div class="paginat">
             <!-- <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls> -->
           </div>
        </div>
    </div>

    <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
     <!-- Activite -->
       <div class="stock">
           <div class="case">
               <div class="header-case">
                   <h2>Les auditeurs</h2>
               </div>
               <button class="btn" routerLink="/ajoutauditeur">Ajouter <span class="fa fa-arrow-right"></span></button>

               <!-- *ngFor="let game of games | paginate:{itemsPerPage:1, currentPage:p}" -->
               <div class="body-case">
                   <div class="all-users" >
                       <div class="infos" routerLink="/profilauditeur">
                           <img decoding="async" src="images/pp.jpg" width="30" height="30">
                           <div>
                               <h4>Omar</h4>
                               <small>Embulant</small>
                           </div>
                       </div>

                       <div class="user-contact">
                        <span id="iconupdate" routerLink="/modifauditeur" class="fa-solid fa-pen-to-square"></span>
                        <!-- <span class="fa fa-whatsapp"></span> -->
                        <span id="icondelete" class="fa-solid fa-trash"></span>
                    </div>
                   </div>
               </div>

               <div class="paginat">
                <!-- <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls> -->
              </div>
           </div>
       </div>


          <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
        <div class="card-body" style="background-color: white;">
            <p style="text-align: center; margin-top: 3%; font-weight: bold; font-size: 20px; color: teal;">Formations encours</p>

         <div class="cardcont" style="margin-top: 5%; margin-bottom: 2Opx;">
            <h5 class="card-title" style="text-align: center;">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 2%; margin-top: 3%;">Formateur: Nom</h6>
            <p class="card-text" style="margin-left: 2%;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="encours">
                <div class="gauchecours">
                    <span class="fa-solid fa-pen-to-square"></span>
                </div>
                <div class="droitecours">
                    <span class="fa-solid fa-eject"></span>
                </div>
            </div>  
            <hr style="margin-bottom: 15px;">
         </div>

         <div class="cardcont" style="margin-top: 8%; margin-bottom: 2Opx;">
            <h5 class="card-title" style="text-align: center;">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 2%; margin-top: 3%;">Formateur: Nom</h6>
            <p class="card-text" style="margin-left: 2%;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="encours">
                <div class="gauchecours">
                    <span class="fa-solid fa-pen-to-square"></span>
                </div>
                <div class="droitecours">
                    <span class="fa-solid fa-eject"></span>
                </div>
            </div>
            <hr style="margin-bottom: 15px;">
         </div>

        </div>
        


   </div>




<!-- </body>  -->

<!-- </ion-content> -->
