<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs">
      <!-- <ion-back-button defaultHref="tabs"></ion-back-button > -->
        <ion-icon name="arrow-back-outline" routerLink=".../tab1" style="font-size: 25px; cursor: pointer;"></ion-icon>
    </ion-buttons>
    <ion-title style="margin-left: 1%;">Detail formation</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="toutbody" >

  <img src="../../assets/images/{{voiridform.image}}" alt="img" class="responsive" width="600" height="400">
  <h1 class="responsive-font-example">{{voiridform.titre}}</h1>
  <div class="infodesc">
  <h2 class="detail">Description : <h6></h6>{{voiridform.description}}</h2>
  <!-- <h2 class="detail">Formateur : <h6> </h6>{{voiridform.Utilisateurs}}</h2> -->
  <h2 class="detail">Lieu : {{voiridform.etatlieu}} <h6></h6></h2>
  <h2 class="detail">Heure : {{voiridform.heuretemps}} <h6></h6></h2>
  <h2 class="detail">Contact : {{voiridform.contact}}<h6></h6></h2>
  <h2 class="detail">Date début : {{voiridform.datedebut}} <h6></h6></h2>
  <h2 class="detail">Date fin : {{voiridform.datefin}}<h6></h6></h2>
  </div>

  <!-- Commentaire -->
  <div class="contact-box">

    <form action="">
      <p class="textcom">Commentaire :</p>
      <!-- <input type="text" class="input-field" placeholder="Nom"> <br><br> -->
      <textarea name="text" id="textareatext" cols="30" rows="10" placeholder="Messasage" [(ngModel)] = "message" required="dggdgd"></textarea>
        </form>
        <button class="buttmess" (click)="commenter(message,voiridform.idFormat)">Envoyer</button>

        <ion-card *ngFor="let commentaire of voiridform.commentaires" style="background-color: #e2dbd9; margin-left: -0.5px;">
          <!-- <ion-item> -->
            <h6 class="card-title" style="margin-left: 12px;">
              {{commentaire.utilisateurs.username}}
            </h6>

          <!-- </ion-item> -->
          <p class="card-text" style="margin-left: 10px;">
            {{commentaire.description}}
          </p>

        </ion-card>
        <div class="paginat">
          <!-- <pagination-controls (pageChange)="p =$event"previousLabel="Précédent" nextLabel="Suivant" style="text-align: center; color: teal;"></pagination-controls> -->
        </div>

  </div>
  </div>


</ion-content>
