<ion-header>
  <ion-toolbar>
     <!-- <ion-title></ion-title> -->
     <div class="entete">

      <!--Entête Gauche -->
      <div class=" gauche" >
        <img src="assets/images/logo.png" alt="" >
      </div>

      <!--Entête Milieu -->
      <div class="milieunom">Doniso</div>

      <!--Entête Droite -->
      <div class="droite" id="popover-button">
      <img src="assets/images/djiguiba.jpg" alt="">
      <ion-buttons slot="danger">
        <ion-popover trigger="popover-button" [dismissOnSelect]="true" class="popUps">
          <ng-template class="popUp">
              <!-- <ion-list > -->
                <ion-item routerLink ="/monprofil">Mon profil</ion-item>
              <!-- </ion-list> -->
              <!-- <ion-list > -->
                <ion-item routerLink ="/monprofil">Mon profil</ion-item>
              <!-- </ion-list> -->
              <ion-list >
                <ion-item routerLink ="/monprofil">Déconnexion</ion-item>
              </ion-list>
          </ng-template>
        </ion-popover>
      </ion-buttons>
    </div>

    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- Slide:::::::::::::::: -->
  <ion-slides [options]="option" class="ion-margin-top">

    <ion-slide *ngFor="let venir of formationvenir">

      <ion-card class="ion-card">
        <img src="../../assets/images/Back-end//{{venir.image}}">
      </ion-card>
    </ion-slide>

  </ion-slides>

  <!-- Corps:::::::::::::::: -->
  <ion-card *ngFor="let encours of formationencours ">
    <img
    alt="Silhouette of mountains"
    src="../../assets/images/Back-end/{{encours.image}}" />
    <ion-card-header>
      <h6>qqqqqqqqqqqqqqsssssssssssssssssssss sssssssssssssssssssssssssssssss</h6>
      <ion-card-subtitle style="font-size: 9px;">Dateaaaaaaaaa</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

     <!-- Button -->
     <div class="buttonCont" >
      <div class="gauchebutton" routerLink="/detailformat" style="cursor: pointer;" >Voir Plus</div>
      <div class="droitebutton"  routerLink="/participant" style="cursor: pointer;" >Participer</div>
    </div>
  </ion-card>


</ion-content>

